#stage {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  background-image: url("/images/E_Square.png");

}

.hsienko {
  position: absolute;
  height: 59px;
  width: 59px;
  position: relative;
  background-image: url("/images/Hsienko_right.gif");
  background-repeat: no-repeat;
}

.shyguy {
  position: absolute;
  height: 59px;
  width: 59px;
  position: relative;
  background-image: url("/images/fatshyguyright.gif");
  background-repeat: no-repeat;
}
/*
.powerup {
  background-image: url("../../assets/images/")
}*/

