#stage {
  width: 600;
  height: 600;
  border: 2px solid black;
  background-image: url("/assets/images/E_Square.png");

}

.hsienko {
  position: absolute;
  height: 59;
  width: 59;
  position: relative;
  background-image: url("../../assets/images/Hsienko_right.gif");
  background-repeat: no-repeat;
}

.shyguy {
  position: absolute;
  height: 59;
  width: 59;
  position: relative;
  background-image: url("../../assets/images/fatshyguyright.gif");
  background-repeat: no-repeat;
}

.powerup {
  background-image: url("../../assets/images/")
}

