  <body>
    <div id="stage">
    </div>
    Score: <span id="timer">0</span>

    <form action="" method="post">
      <label for="POST-name">Name:</label>
      <input id="POST-name" type="text" name="name">
      <label for="POST-Score">Score:</label>
      <input id="timer" type="text" name="score">
      <input type="submit" value="Upload!">
    </form>
  </body>

