  <body>
    <h1 id="user"><%=@user.name.capitalize%><h1>
    <h1> Welcome to Hsien-Go ! </h1>
    <div id="stage">
    </div>
    Score: <span id="timer">0</span>

    <form action="/submit_score" method="post">
      <input id="score_button" type="submit" value="Upload Score!">
    </form>

    <ul id="leaderboard"></ul>
  </body>

