  <body>
    <div id="stage">
    </div>
  <div class ="text" id="wrapper">
    <div id="user"><%=@user.name.capitalize%></div>
    <div> Welcome to Hsien-Go ! </div>
    Score: <span id="timer">0</span>
    <form action="/submit_score" method="post">
      <input id="score_button" type="submit" value="Upload High Score!">
    </form>
    <div>
    <ol id="leaderboard">
    <!-- <p>Hall of Fame</p> -->
      <% @users.all.each do |user| %>
        <li><%= "#{user.name} #{user.high_score}" %> </li>
      <% end %>
    </ol>
  </div>
  </body>

