<!DOCTYPE html>
<html lang="en">
<head>
   <title>Secret of Hsien-ko</title>

    <link href='/css/application.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/mousetrap.js"></script>
    <script src="/js/hsienko.js"></script>
    <script src="/js/powerup.js"></script>
    <script src="/js/shyguy.js"></script>
    <script src="/js/game.js"></script>
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->

</head>
<body>
  <%= yield %>
</body>
</html>
