<div class="login">
<div class = "text">Hsien-ko (Chinese: 何仙姑)</div>
<p class= "text">A character based off vampires of Chinese folklore known as jiangshi, into which she was transformed when she was magically merged with her twin sister Mei-Ling (Chinese: 美玲;). Together, they fight to free the cursed spirit of their dead mother and to destroy the monsters preying on the people of China.</p>
  <div><a class="text" href="/login"> Begin!</a></div>
</div>
<div><img class="logo" src="/images/cute_hsienko.jpg"></div>

